<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				NaganoCake
			</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample3">
			<ul class="nav navbar-nav">
				<li><%= link_to "マイページ", customer_path(current_customer) %></li>
				<li><%= link_to "商品一覧", products_path %></li>
				<li><%= link_to "カート", cart_items_path %></li>
				<li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>	
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="検索キーワード">
				</div>
				<button type="submit" class="btn btn-default">検索</button>
			</form>
		</div>
	</div>
</nav>